<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="css/proyecto.css">
        <style>
            #topBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                border: none;
                outline: none;
                background-color: red;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 10px;
            }

            #topBtn:hover {
                background-color: #555;
            }
        </style>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./template.html">JoacoPedia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">quimica <span class="sr-only">(current)</span></a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./fisica.html">Fisica</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./matematica.html">matematica</a>
                    </div>

            </ul>

        </div>
    </nav>
    <body >
        <div class= "container">
            <div class= "row">
                <div class="col-md-12">
                    <div>
                        <h1 class="text-left">Tema:</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Estequiometria
                    </h2>
                </div>
            </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                Estequiometría en elementos y compuestos
            </button>

            <div class="collapse" id="collapse">
                <div class="card card-body">
                    <p>
                        El Mol

                        Un mol se define como la cantidad de materia que tiene tantos objetos como el número de átomos que hay en exactamente 12 gramos de 12C.

                        Se ha demostrado que este número es: 6,0221367 x 1023

                        Se abrevia como 6,02 x 1023, y se conoce como número de Avogadro.

                        Pesos atómicos y moleculares

                        Los subíndices en las fórmulas químicas representan cantidades exactas.


                    </p>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Estequiometría: Ecuaciones químicas
            </button>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        Reacción química y ecuaciones químicas

                        Una Reacción química es un proceso en el cual una sustancia (o sustancias) desaparece para formar una o más sustancias nuevas.

                        Las ecuaciones químicas son el modo de representar a las reacciones químicas.

                        Por ejemplo el hidrógeno gas (H2) puede reaccionar con oxígeno gas(O2) para dar agua (H20). La ecuación química para esta reacción se escribe:



                    </p>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapsedasd" aria-expanded="false" aria-controls="collapseExample">
                Cálculos en estequiometría
            </button>

            <div class="collapse" id="collapsedasd">
                <div class="card card-body">
                    <p>
                        Estequiometría

                        Es el cálculo de las cantidades de reactivos y productos de una reacción química.

                        Definición

                        Información cuantitativa de las ecuaciones ajustadas

                        Los coeficientes de una ecuación ajustada representan:

                        el número relativo de moléculas que participan en una reacción
                        el número relativo de moles participantes en dicha reacción.



                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Formulación y Nomenclatura.Química Inorgánica
                    </h2>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collaps" aria-expanded="false" aria-controls="collaps">
                Sustancias simples
            </button>

            <div class="collaps" id="collaps">
                <div class="card card-body">
                    <p>
                        Son aquellas que están constituidas por átomos de un solo elemento. En ellas las moléculas están formadas por átomos idénticos. En general, muchos elementos que son gases suelen encontrarse en forma diatómica (N2, O2, H2, etc.).

                        Otro fenómeno curioso es que ciertos elementos (azufre, fósforo, etc.) se presentan, a veces, en agrupaciones de distinto número de átomos, estas agrupaciones se denominan formas alotrópicas.


                    </p>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#colla" aria-expanded="false" aria-controls="colla">
                Combinaciones binarias del oxígeno
            </button>

            <div class="colla" id="colla">
                <div class="card card-body">
                    <p>
                        Deben nombrarse como óxidos tanto las combinaciones de oxígeno con metales como con no metales.

                        Para formularlos se escribe siempre, a la izquierda, el elemento más electropositivo,  intercambiándose los números de oxidación del oxígeno (-2) y del otro elemento.


                    </p>
                </div>
                 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
            </div>
           
        </div>

        <button onclick="topFunction()" id="topBtn" title="To top">subir</button>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="../proyecto_html/js/pagina.js"></script>
    </body>
</html>