<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body class="parallax">


  
  <div class= "container">
    <div class= "row">
      <div class="col-md-12">
        <div>
          <h1 class="text-left">Tema:</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>
          Estequiometria
        </h2>
      </div>
    </div>
      <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Estequiometría en elementos y compuestos
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p>
          El Mol

          Un mol se define como la cantidad de materia que tiene tantos objetos como el número de átomos que hay en exactamente 12 gramos de 12C.

          Se ha demostrado que este número es: 6,0221367 x 1023

          Se abrevia como 6,02 x 1023, y se conoce como número de Avogadro.

          Pesos atómicos y moleculares

          Los subíndices en las fórmulas químicas representan cantidades exactas.


        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>
        Estequiometria
      </h2>
    </div>
  </div>

</body>
</html>