en mantenimiento
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="../js/js.js"> </script>
		<title>busqueda avanzada</title>
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/thumbnail-gallery.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	</head>
	<body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">pinask web</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">busqueda avanzada
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><form action="proyecto.html"> <input type="submit" value="inicio" /></form></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><form action="calendario.html"> <input type="submit" value="calendario" /></form></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><form action="comentarios.html"> <input type="submit" value="comentarios" /></form></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><form action="proyecto.php"> <input type="submit" value="descargar" /></form></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
        
        <nav>
            <div>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            </div>
            <div>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            </div>
            <div>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            </div>
    		<div class="nav-wrapper">
      			<div class="mmm">
                     <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          lunes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-success"href=tacos%20mexicanos.html>1/5/17</a>
                          <a class="btn btn-outline-success" href="#">8/5/17</a>
                            <a class="btn btn-outline-success" href="#">15/5/17</a>
                            <a class="btn btn-outline-success" href="#">22/5/17</a>
                            <a class="btn btn-outline-success" href="#">29/5/17</a>
                            
                        </div>
                      </div>
                </div>

            </div>
            <div class="mmm">
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          martes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-warning" href=tacos%20mexicanos.html>2/5/17</a>
                          <a class="btn btn-outline-warning" href="#">9/5/17</a>
                            <a class="btn btn-outline-warning" href="#">16/5/17</a>
                            <a class="btn btn-outline-warning" href="#">23/5/17</a>
                            <a class="btn btn-outline-warning" href="#">30/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            <div class="mmm">
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          miercoles
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-info" href=tacos%20mexicanos.html>3/5/17</a>
                          <a class="btn btn-outline-info" href="#">10/5/17</a>
                            <a class="btn btn-outline-info" href="#">17/5/17</a>
                            <a class="btn btn-outline-info" href="#">24/5/17</a>
                            <a class="btn btn-outline-info" href="#">31/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            
            <div class="mmm">
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          jueves
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-primary" href=tacos%20mexicanos.html>4/5/17</a>
                          <a class="btn btn-outline-primary" href="#">11/5/17</a>
                            <a class="btn btn-outline-primary" href="#">18/5/17</a>
                            <a class="btn btn-outline-primary" href="#">25/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            <div class="mmm">
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          viernes
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-danger" href=tacos%20mexicanos.html>5/5/17</a>
                          <a class="btn btn-outline-danger" href="#">12/5/17</a>
                            <a class="btn btn-outline-danger" href="#">19/5/17</a>
                            <a class="btn btn-outline-danger" href="#">26/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            <div class="mmm">
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          sabado
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-secondary" href=tacos%20mexicanos.html>6/5/17</a>
                          <a class="btn btn-outline-secondary" href="#">13/5/17</a>
                            <a class="btn btn-outline-secondary" href="#">20/5/17</a>
                            <a class="btn btn-outline-secondary" href="#">27/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            <div>
                <div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          domingo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="btn btn-outline-dark" href=tacos%20mexicanos.html>7/5/17</a>
                          <a class="btn btn-outline-dark" href="#">14/5/17</a>
                            <a class="btn btn-outline-dark" href="#">21/5/17</a>
                            <a class="btn btn-outline-dark" href="#">28/5/17</a>
                        </div>
                      </div>
                        
                </div>
            </div>
            
  		</nav>
            <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
          </div>
          <!-- /.container -->
        </footer>
        

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>