<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="../js/js.js"> </script>
		<title>calendario</title>
	</head>
	<body>
    <h1 class="my-4 text-center text-lg-center">
  		<div id="calendario">
         
    			<div id="anterior" onclick="mesantes()">mayo</div>
    			<div id="posterior" onclick="mesdespues()">2017</div>
    			<h2 id="titulos">CALENDARIO COMIDA</h2>
    			<table id="diasc">
      			<tr id="fila0"><th>lunes</th><th>martes</th><th>miercoles</th><th>jueves</th><th>viernes</th><th>sabado</th><th>domingo</th></tr>
      			<tr id="fila1"><td><form action="tacos mexicanos.html"> <input type="submit" value="1" /></form></td><td><form action="comentarios.html"> <input type="submit" value="2" /></td><td><form action="comentarios.html"> <input type="submit" value="3" /></td><td><form action="comentarios.html"> <input type="submit" value="4" /></td><td><form action="comentarios.html"> <input type="submit" value="5" /></td><td><form action="comentarios.html"> <input type="submit" value="6" /></td><td><form action="comentarios.html"> <input type="submit" value="7" /></td></tr>
      			<tr id="fila2"><td><form action="comentarios.html"> <input type="submit" value="8" /></td><td><form action="comentarios.html"> <input type="submit" value="9" /></td><td><form action="comentarios.html"> <input type="submit" value="10" /></td><td><form action="comentarios.html"> <input type="submit" value="11" /></td><td><form action="comentarios.html"> <input type="submit" value="12" /></td><td><form action="comentarios.html"> <input type="submit" value="13" /></td><td><form action="comentarios.html"> <input type="submit" value="14" /></td></tr>
      			<tr id="fila3"><td><form action="comentarios.html"> <input type="submit" value="15" /></td><td><form action="comentarios.html"> <input type="submit" value="16" /></td><td><form action="comentarios.html"> <input type="submit" value="17" /></td><td><form action="comentarios.html"> <input type="submit" value="18" /></td><td><form action="comentarios.html"> <input type="submit" value="19" /></td><td><form action="comentarios.html"> <input type="submit" value="20" /></td><td><form action="comentarios.html"> <input type="submit" value="21" /></td></tr>
      			<tr id="fila4"><td><form action="comentarios.html"> <input type="submit" value="22" /></form></td><td><form action="comentarios.html"> <input type="submit" value="23" /></form></td><td><form action="comentarios.html"> <input type="submit" value="24" /></form></td><td><form action="comentarios.html"> <input type="submit" value="25" /></form></td><td><form action="comentarios.html"> <input type="submit" value="26" /></form></td><td><form action="comentarios.html"> <input type="submit" value="27" /></form></td><td><form action="comentarios.html"> <input type="submit" value="28" /></form></td></tr>
      			<tr id="fila5"><td><form action="comentarios.html"> <input type="submit" value="29" /></form></td><td><form action="comentarios.html"> <input type="submit" value="30" /></form></td><td><form action="comentarios.html"> <input type="submit" value="31" /></form></td><td></td><td></td><td></td><td></td></tr>
      			<tr id="fila6"><td></td><td></td><td></td><td></td><td></td><td></td><td><a class="nav-link" href="#"><form action="proyecto.html"> <input type="submit" value="volver atras" /></form></a></td></tr>
    			</table>
    		  
  		</div>
    </h1>

	</body>



</html>