<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>tacos mexicanos apasionados</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor3/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        MENU:
                    </a>
                </li>
                <li>
                    <a href="#">milanesa con papas fritas</a>
                </li>
                <li>
                    <a href="#">lomito</a>
                </li>
                <li>
                    <a href="#">ravioles</a>
                </li>
                <li>
                    <a href="#">polenta</a>
                </li>
                <li>
                    <a href="#">patita de pollo</a>
                </li>
                <li>
                    <a href="#">tarta de jamon y queso</a>
                </li>
                <li>
                    <a href="#">lasaña</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>informacion:</h1>
                <p>Un taco es una preparación mexicana que en su forma estándar consiste en una tortilla (generalmente de maíz, aunque también se puede hacer de harina de trigo, de nopal o de algún otro ingrediente) que contiene algún alimento dentro. Es considerado como uno de los platillos más representativos de la comida mexicana.

                Los tacos pueden ser sencillos hechos en casa para sostener los alimentos preparados en el momento, una simple tortilla enrollada, una tortilla espolvoreada con sal o también salsas picantes; también pueden ser más complejos como los tacos al pastor, de canasta o las flautas (tacos fritos o dorados), estos tacos se acompañan con diferentes elementos que pueden ser verduras, salsas, quesos rallados, cremas y limón dependiendo del tipo de taco y el gusto de la persona. Los ingredientes y acompañantes varían de región a región pero generalmente no varían algunas preparaciones. También se consumen en Centroamérica.


                Taco normal.
                En la actualidad los tacos están extendidos mundialmente como un tipo de comida rápida. Sin embargo, lo que se conoce como taco a nivel internacional son los tacos de influencia estadounidense que difieren bastante en ingredientes y preparación de los mexicanos y provienen de la comida Tex-Mex.

                De igual forma, aunque el taco estándar se hace con tortilla de algún tipo, en restaurantes mexicanos de alta gastronomía o cocina fusión donde la tortilla se sustituye por lechuga, jamaica, u hoja de cebolla.</p>
                <p>Sígueme en twitter: <code>https://twitter.com/PinaskWeb</code>.</p>
                <p>Sígueme en facebook: <code>http://www.facebook.com/PinaskWebOficial</code>.</p>
                <p>Contacto: <code>PinaskWeb@gmail.com</code>.</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">MAS COMIDAS</a>
                <a class="btn btn-success" > <form action="tacos mexicanos.html"> <input type="submit" value="volver atras" /></form></a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor3/jquery/jquery.min.js"></script>
    <script src="vendor3/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
